.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  margin: 5px;
  height: 36px;
  padding: 8px 14px;
  border-radius: 5px;
  color: #132c2c;
  width: 100px;
  cursor: pointer;
}

.delete {
  background: #dd0658;
}

.add {
  background: #71d1d1;
}

.count {
  font-size: 36px;
  line-height: 36px;
}
